body {background-color: rgb(235, 235, 255);}

.col {
padding-left: 40px;
padding-right: 40px;
}

.input-group {
padding-left: 100px;
position: absolute;
}

.btn-outline-secondary {
padding-left: 90px;
padding-right: 90px;
}

.finalResult {
padding-top: 0px;
text-align: center;
font-size: 1em;
line-height:10px;
}

.form-control {
margin: auto;
}

.space {
padding-top: 30px;
}